{% extends "base.html" %}

{% block title %}
{{ enumber }} {{ ename }} - DiamondGotCat
{% endblock %}

{% block desc %}
{{ enumber }} Error on DiamondGotCat.net
{% endblock %}

{% block main %}
<section class="lg:grid lg:h-150 lg:place-content-center">
    <div class="mx-auto w-150 max-w-150 px-4 py-16 sm:px-6 sm:py-24 lg:px-8 lg:py-32">
        <div class="mx-auto max-w-prose text-center">
            <h1 class="text-4xl font-bold text-gray-900 sm:text-5xl dark:text-white">
                {{ enumber }}
            </h1>

            <p class="mt-4 text-base text-pretty text-gray-700 sm:text-lg/relaxed dark:text-gray-200">
                {{ ename }}
            </p>
        </div>
    </div>
</section>
<div class="p-16 text-center flex flex-col items-center">
    <?xml version="1.0" encoding="UTF-8"?>
    <svg width="40px" height="40px" stroke-width="1.5" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg" color="#FF0000">
        <path d="M6.75827 17.2426L12.0009 12M17.2435 6.75736L12.0009 12M12.0009 12L6.75827 6.75736M12.0009 12L17.2435 17.2426" stroke="#FF0000" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round"></path>
    </svg>
    <a class="text-blue-500 underline font-bold" href="https://diamondgotcat.net/">Back to Top</a>
</div>
{% endblock %}