<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>FINAL WARNING</title>
        <meta name="description" content="Are you attacking? (e.g. Path Traversal, Brute Force Directory/File Enumeration)">
        <script src="https://cdn.jsdelivr.net/npm/@tailwindcss/browser@4"></script>
    </head>
    <body class="bg-red-500 dark:bg-red-500 text-black dark:text-black">
        {% include "header.html" %}
        <main>
            <section class="lg:grid lg:h-125 lg:place-content-center">
                <div class="mx-auto w-150 max-w-150 px-4 py-16 sm:px-6 sm:py-24 lg:px-8 lg:py-32">
                    <div class="mx-auto max-w-prose text-center">
                        <h1 class="text-4xl font-bold text-yellow-900 sm:text-5xl">
                            STOP NOW
                        </h1>

                        <p class="mt-4 text-base text-pretty text-yellow-700 sm:text-lg/relaxed">
                            Are you attacking?<br>
                            (e.g. Path Traversal, Brute Force Directory/File Enumeration)
                        </p>
                    </div>
                </div>
            </section>
            <div class="p-16 text-center flex flex-col items-center">
                <p>This is Final Warning.</p>
            </div>
        </main>
    </body>
</html>