<header>
    <div class="mx-auto flex h-16 max-w-screen-xl items-center gap-8 px-4 sm:px-6 lg:px-8">
        <a href="/" class="block dark:hidden">
            <img src="https://diamondgotcat.net/icons/Black-on-White.png" width="50">
        </a>

        <a href="/" class="hidden dark:block">
            <img src="https://diamondgotcat.net/icons/White-on-Black.png" width="50">
        </a>

        <div class="flex flex-1">
            <a href="/" class="text-3xl">
                <p>DiamondGotCat</p>
            </a>
        </div>

        <div class="flex items-center justify-end md:justify-between">
            <nav aria-label="Global" class="hidden md:block">
                <ul class="flex items-center gap-6 text-sm">
                    <li>
                        <a class="text-gray-500 transition hover:text-gray-500/75 dark:text-white dark:hover:text-white/75" href="/analytics/" >Analytics</a>
                    </li>
                    <li>
                        <a class="text-gray-500 transition hover:text-gray-500/75 dark:text-white dark:hover:text-white/75" href="/zeta/" >Zeta</a>
                    </li>
                    <li>
                        <a class="text-gray-500 transition hover:text-gray-500/75 dark:text-white dark:hover:text-white/75" href="/burners/" >Burners</a>
                    </li>
                    <li class="space-x-4"></li>
                    <li>
                        <a class="text-gray-500 transition hover:text-gray-500/75 dark:text-white dark:hover:text-white/75" href="https://github.com/DiamondGotCat/" >GitHub</a>
                    </li>
                    <li>
                        <a class="text-gray-500 transition hover:text-gray-500/75 dark:text-white dark:hover:text-white/75" href="https://x.com/DiamondGotCat/" >Twitter</a>
                    </li>
                    <li>
                        <a class="text-gray-500 transition hover:text-gray-500/75 dark:text-white dark:hover:text-white/75" href="mailto:main@diamondgotcat.net" >Mail</a>
                    </li>
                    <li class="space-x-4"></li>
                    <li>
                        <a class="text-blue-500 transition hover:text-blue-500/75 dark:text-blue-500 dark:hover:text-blue-500/75" href="https://github.com/DiamondGotCat/web/" >Source code of This website</a>
                    </li>
                </ul>
            </nav>
        </div>
    </div>
    <div class="text-center bg-blue-500 text-white p-4 hidden">
        Currently, there is a surge in access from bots, and after analyzing the URLs, it has been determined that these are bots targeting WordPress.
        This site does not use WordPress. Please stop.
    </div>
</header>