{% extends "base.html" %}

{% block title %}
DiamondGotCat
{% endblock %}

{% block desc %}
Student・Personal Developer・AI/ML Researcher
{% endblock %}

{% block main %}
<section class="lg:grid lg:h-150 lg:place-content-center">
    <div class="mx-auto w-150 max-w-150 px-4 py-16 sm:px-6 sm:py-24 lg:px-8 lg:py-32">
        <div class="mx-auto max-w-prose text-center">
            <h1 class="text-4xl font-bold text-gray-900 sm:text-5xl dark:text-white">
                DiamondGotCat
            </h1>

            <p class="mt-4 text-base text-pretty text-gray-700 sm:text-lg/relaxed dark:text-gray-200">
                Student・Personal Developer・AI/ML Researcher
            </p>
        </div>
    </div>
</section>
<div class="p-16 text-center">
    <p class="text-2xl">Access #{{ accessNo }}</p>
</div>
{% endblock %}