{% extends "zeta-base.html" %}

{% block title %}
Zeta
{% endblock %}

{% block desc %}
Fully Open-source LLM
{% endblock %}

{% block main %}
<section class="lg:grid lg:h-125 lg:place-content-center">
    <div class="mx-auto w-150 max-w-150 px-4 py-16 sm:px-6 sm:py-24 lg:px-8 lg:py-32">
        <div class="mx-auto max-w-prose text-center">
            <h1 class="text-4xl font-bold text-gray-900 sm:text-5xl dark:text-white">
                Zeta
            </h1>

            <p class="mt-4 text-base text-pretty text-gray-700 sm:text-lg/relaxed dark:text-gray-200">
                Fully Open-source LLM
            </p>
        </div>
    </div>
</section>
<div class="p-16 text-center">
    <section id="what-is-fully" class="p-4">
        <div class="p-4">
            <p class="text-2xl">What is "Fully" Open-source?</p>
            <p>Zeta's biggest features</p>
        </div>
        <div class="p-2">
            <p class="text-lg">The Open Source LLM can't really be called open source.</p>
            <p>DiamondGotCat, the developer of Zeta, noticed this.</p>
            <p>Open source LLM is just a model released under an open source license.</p>
            <p>Where is the source? There is no complete source anywhere.</p>
        </div>
        <div class="p-2">
            <p class="text-lg">Zeta is "Fully" Open-source LLM.</p>
            <p>To solve this problem, Zeta has made everything public,</p>
            <p>including not only the models but also the training scripts (which we actually use) and datasets.</p>
        </div>
    </section>

    <section id="how-does-it-compare" class="p-4">
        <div class="p-4">
            <p class="text-2xl">How does it compare to other LLMs?</p>
            <p>Lightweight and efficient</p>
        </div>
        <div class="p-2">
            <p class="text-lg">Accuracy of answers</p>
            <p>To be honest, Zeta's answer is not that great.</p>
            <p>However, considering that Zeta has parameters of about 0.5B,</p>
            <p>and was created by an individual, it's not bad.</p>
        </div>
        <div class="p-2">
            <p class="text-lg">Support for GGUF format</p>
            <p>All models have been converted by mradermacher and are of high quality and easy to try.</p>
            <p>It is also available on Ollama, so please feel free to use it.</p>
        </div>
    </section>
</div>
{% endblock %}